<h2 class="page-header">Add new author</h2>
<form action="/authors" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors">Cancel</a>
    <button type="submit">Add</button>
</form>